/*
* @Author: lenovo
* @Date:   2019-10-10 22:17:04
* @Last Modified by:   lenovo
* @Last Modified time: 2019-10-14 22:12:41
*/
@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }  /*去掉边框、去掉轮廓（比如输入框外面的蓝边框）*/

/*去掉列表前面的圆点*/
ul, ol {
    list-style: none;
}
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}  /*字体一般是指定这两个*/
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*禁止文本输入框在右下角拖拽（因为拖动后会调整输入框大小）*/
img {border:0;	vertical-align:middle; }  /* 去掉图片底侧默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";  /*\5b8b\4f53指的是宋体*/
    color:#666;
    background:#fff
}

/*start:清除浮动【推荐此方式进行清除浮动】。左浮动和右浮动都清除了，盒子刚好达到闭合的状态*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
/*end：清除浮动*/

a {color:#666; text-decoration:none; }  /*去掉超链接的下划线*/
a:hover{color:#C81623;} /*鼠标悬停时的颜色*/
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;} /*font-size:100% 的意思是：让它们和父亲一样大，避免在不同的浏览器中显示大小不一致*/
s,i,em{font-style:normal;text-decoration:none;}  /*去掉i标签和em的斜体，取消s标签的删除线*/
.col-red{color: #C81623!important;}

/*公共类*/
.w { /*版心（可视区）。需要专门提取出来 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}
/* 导航栏顶部 */
.nav{
    height:100px;
    background-color: white;
    text-align: center;
}
.logo{
    height: 100px;
    width: 400px;
    line-height: 100px;
    font: 30px/100px Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
    /* border: 1px red solid; */
}
.nav ul{
    height: 75px;
    width: 700px;
    padding-top: 25px;
    padding-left:10px;
    /* border: 1px red solid; */
}
.nav li{
    font: 20px/50px Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
    float: left;
    margin-right: 20px;
    width: 120px;
    height: 50px;
    line-height: 50px;
}
/* 导航栏结束 */


/*尾部开始*/
footer{
    height: 450px;
    background-color:#201F1F;
}
.jiesu{
    height: 290px;
    padding-top: 80px;
}
.jiesu .aboutl{
    width: 523px;
    height: 274px;

}
.jiesu .aboutl span{
    font-size: 24px;
    color: rgb(255,255,255);
}
.jiesu .aboutl p{
    font-family: "SimSun", "宋体", serif;
    line-height: 28px;
}
.jiesu .aboutr{
    width: 400px;
    height: 274px;
}
.jiesu .aboutr span{
    font-size: 24px;
    color: rgb(255,255,255);
}
.jiesu .aboutr p{
    color: rgb(134, 134, 134);
    font-size: 15px;
    font-family: "微软雅黑", serif;
    line-height: 60px;
}
.jiesu2 p{
    text-align: center;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #505050;
}
/*尾部结束*/