*{
    margin: 0;
    padding:0;
}
.f_one .f_second p{
    font-size: 20px;
    text-align: center;
}
.c1{
    height: 50px;
}
.c3{
    height: 70px;
}
.c2{
    height:70px
}
.c4{
    height: 30px;
}
.d1 input, .d2 input, .d3 input{
    text-align: center;
    border: 1px solid #b2dba1;
    height: 50px;
}
.d3 input{
    width: 174px;
    display: block;
    background-color: #2aabd2;
}
.d4 h1 {
   padding-left: 25px;

}
.e1{
    margin: 0 auto;
    text-align: center;
}
.d6{
    background-color: rgba(0,0,0,0.1);
}
.d5{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid red;
}
.d8{
    margin: 0 auto;
    width: 500px;
    height: 400px;
    border: 1px solid red;
}
caption,td{
    text-align: center;;
}
.d9{
    background-color: #222222;
}
.d9 ul{
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
}
.d9 ul li{
    margin-top: 10px;
}
.d9 ul li a{
    color: #8D9D9D;
    text-decoration: none;
}
.d10 label{
    margin-right: 10px;
}