<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--1、导入Vue的包-->
    <script src="../libs/vue.js"></script>
</head>
<body>
   <div id="app">
       <input type="text" v-model="n1">
       <select v-model="opt">
           <option value="+">+</option>
           <option value="-">-</option>
           <option value="*">*</option>
           <option value="/">/</option>
       </select>
       <input type="text" v-model="n2">
       <input type="button" value="=" @click="calc">
       <input type="text" v-model="result">
   </div>
</body>
<script>
    new Vue({
        el:'#{
            n1: 0,
            n2: 0,
            result: 0,
            opt:'+'
        },
        app',
        data: methods: {
            calc() {
                switch (this.opt) {
                    case '+':
                        this.result = parseInt(this.n1) + parseInt(this.n2)
                        break;
                    case '-':
                        this.result = parseInt(this.n1) - parseInt(this.n2)
                        break;
                    case '*':t = parseInt(this.n1) / parseInt(this.n2)
                        break;
                        this.result = p
                    case '/':
                        this.resarseInt(this.n1) * parseInt(this.n2)
                        break;ul
                }
            }
        }
    })
</script>
</html>